body {
    font-family: sans-serif;
    width: 75vh;
    margin: auto;
    border-left: 0.1vh solid black;
    border-right: 0.1vh solid black;
    padding: 0.5%;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 75vh) {
    body {
        font-family: sans-serif;
        width: auto;
        margin-left: 0%;
        margin-right: 0%;
        border: 0;
        padding: 0.5%;
    }
}


h1 {
    color: #1B1B1B;
}

.p-quiz-source {
    text-align: right;
}

.c-btn {
    display: block;
    position: relative;
    text-align: left;
    font-size: large;
    color: #1B1B1B;
    background: white;
    border: 1px solid white;
    padding: 0.5em;
}

.c-btn:hover {
    background: #F2F2F2;
    cursor: pointer;
    text-decoration: none;
}

.c-btn-correct {
    display: block;
    position: relative;
    text-align: left;
    font-size: large;
    color: #1B1B1B;
    background: #baeefc;
    border: 1px solid white;
    padding: 0.5em;
}

.c-btn-incorrect {
    display: block;
    position: relative;
    text-align: left;
    font-size: large;
    color: #1B1B1B;
    background: #fcbaba;
    border: 1px solid white;
    padding: 0.5em;
}


.c-btn-next {
    display: block;
    position: relative;
    text-align: center;
    font-size: 100%;
    height: 5vh;
    text-decoration: none;
    color: white;
    background: #795548;
    border: 1px solid white;
}

.c-btn-next:hover {
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
}

.ul-wave {
    text-decoration: underline;
    text-decoration-style: wavy;
    display: inline-block;
}

img {
    width: 50%;
}

.img-w100 {
    width: 100%;
}

table {
    width: 100%;
}